<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LetsEat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LetsEatContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LetsEatDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MessageApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>964E7D121EBD7EBF003B2CFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9692098A1ECE6FA300AE6A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F617281ECD3DB700953A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F6173F1ECD3DF500953A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96F617571ECD41EF00953A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
